body{
    background-image: url(https://wallpapers.com/images/hd/penne-pasta-with-red-sauce-yputiaellw8cymap.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
}