b{
    color:blue;
}
li{
    color:brown
}
li{
    text-indent: 20px;
}
li{
    line-height: 2;
}
li{
    text-transform: capitalize;
}
h1{
    text-align:center;
}
h1{
    text-decoration: underline;
}
h1{
    text-decoration-color: brown;
}
h1{
    color:blueviolet
}
h1{
    text-decoration-style: wavy;
}
h1{
    text-decoration-thickness: 3px;
}
